.container  {
    width: 1059px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

/*BACKGROUND-IMG ==================*/

.milan-page {
    padding: 50px 0 20px;
}

.background-image {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7)
}

/*HEADER ==================*/

.header {
    margin-bottom: 45px;
}

.header-logo {
    float: left;
    position: relative;
}

.main-logo-hover {
    position: absolute;
    left: 0;
    bottom: 1px;
    opacity: 0;
}

.header-logo-img {
    float: left;
    width: 46px;
    height: 44px;
    margin-right: 11px;
    margin-top: 1px;
}

.header-logo-link {
    text-decoration: none;
}

.header-logo-link:hover .header-logo-text-up,
.header-logo-link:hover .header-logo-text-down {
    color: #f26522;
    transition: 0.7s;
}

.header-logo-link:hover .header-logo-img {
    opacity: 0;
    transition: 0.7s;
}

.header-logo-link:hover .main-logo-hover {
    opacity: 1;
    transition: 0.7s;
}

.header-logo-text-up {
    display: inline-block;
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}

.header-logo-text-down {
    display: block;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}

.header-info {
    float: right;
    text-align: right;
    margin-top: 11px;
}

.header-email {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 1px;
    display: block;
}

.header-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    display: block;
}

/*MAIN PHOTOS CONTENT ==============*/

.main-photos-content {
    margin-bottom: 61px;
}

.main-photos-item {
    float: left;
    width: 307px;
    margin-right: 67px;
}

.main-photos-list li:nth-child(3n) {
    margin-right: 0;
}

.main-photos-list li:nth-child(-n+3) {
    margin-bottom: 58px;
}

.main-photos-link {
    text-decoration: none;
}

.main-photo-text {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.main-content-photo {
    width: 307px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.nice-gradient {
    width: 311px;
    height: 205px;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 17%, rgb(255, 255, 255) 100%);
    box-shadow: 0 16px 20px -1px #000000;
    border-radius: 1px;
    overflow: hidden;
}

.main-photo-hover-block {
    position: absolute;
    bottom: -50px;
    width: 311px;
    padding: 16px 20px;
    background-color: #f26522;
    box-sizing: border-box;
    opacity: 0;
}

.main-photos-link:hover .main-photo-hover-block {
    opacity: 1;
    bottom: 0;
    transition: 0.7s;
    height: auto;
}

.image-hover-title {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #fff;
    display: block;
}

.image-hover-currency {
    margin-top: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    float: left;
}

.image-hover-details {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    float: right;
    margin-top: 6px;
}

.image-hover-details::after {
    content: url("../img/Arrow_sym.png");
    width: 7px;
    height: 10px;
    margin-left: 15px;
}

/*FOOTER ===================*/

.footer {
    text-align: center;
}

.footer-copyright {
    font-size: 12px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}